clouds:
  xerces:
    auth:
      auth_url: <paste from RC>
      project_name: <paste>
      username: <paste>
      password: <your Horizon password>
      user_domain_name: <paste>
      project_domain_id: <paste>
    region_name: <paste>
    interface: public
    identity_api_version: 3
