apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-worker
  namespace: webapp-mq
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-worker
  template:
    metadata:
      labels:
        app: order-worker
    spec:
      imagePullSecrets:
        - name: gitlab-registry-secret
      containers:
        - name: order-worker
          image: gitlab.control.lth.se:5050/regler/frtn90/2025/agroup31/project-order-worker:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8001
          envFrom:
            - configMapRef:
                name: config
          volumeMounts:
            - name: clouds-config
              mountPath: /etc/openstack
              readOnly: true
      volumes:
        - name: clouds-config
          secret:
            secretName: clouds-yaml
