apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: webapp-mq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: gitlab.control.lth.se:5050/regler/frtn90/2025/agroup31/project-frontend:latest
          ports:
            - containerPort: 80
