apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
  namespace: webapp-mq
data:
  nginx.conf: |
    worker_processes 1;
    events { worker_connections 1024; }
    http {
      server {
        listen 80;
        location / {
          proxy_pass http://app.webapp-mq.svc.cluster.local:5000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }
    }
