apiVersion: apps/v1 # Kubernetes API version for Deployment resources
kind: Deployment # Defines this resource as a Deployment
metadata:
  name: python-app # Name of the Deployment
spec:
  replicas: 1 # Number of Pod replicas to run
  selector:
    matchLabels:
      app: python-app # Label selector for Pods managed by this Deployment
  template: # Template describing the Pod to create
    metadata:
      labels:
        app: python-app # Labels applied to the Pods; must match the selector
    spec:
      imagePullSecrets:
        - name: gitlab-registry-secret # Secret allowing Kubernetes to pull the private image
      containers: # List of containers inside the Pod
        - name: python-app # Name of the container
          image: gitlab.control.lth.se:5050/regler/frtn90/2025/agroup31/backendserver:latest # Container image stored in GitLab registry
          imagePullPolicy: Always # Always pull the latest image version when starting a Pod
          ports:
            - containerPort: 5000 # The port your Flask/Python app listens on
          volumeMounts: # Volume mounts for the container
            - name: clouds-config # Reference to the volume defined below
              mountPath: /etc/openstack # Path inside the container to mount the secret
              readOnly: true # Mounted as read-only to prevent modifications
      volumes: # Defines volumes available to the Pod
        - name: clouds-config # Volume name, used in volumeMounts
          secret: # Volume type is a Kubernetes Secret
            secretName: clouds-yaml # Name of the Secret providing the volume content
